#fish_preview {
  width: 70%;
  min-width: 128px;
  min-height: 128px;

  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;

  margin: 6px;
  border: 2px solid var(--light-2);
  border-radius: 8px;
  position: relative;
  transition: 200ms ease border;

  background: #363a3f;
  overflow: hidden;
}

#fish_preview img {
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#fish_preview_children {
  transition: filter 100ms ease;
  width: 100%;
  height: 100%;
  background: url("./background.webp");
  background-size: contain;
}

#fish_preview.blur #fish_preview_children {
  filter: blur(24px) saturate(0);
}

body.dark #fish_preview {
  border-color: var(--dark-1);
}

@media only screen and (max-width: 768px) {
  #fish_preview {
    width: auto;
    height: 60%;
  }
}
